body {
    background-color: #f2f3f5
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    margin: 25px auto;
    
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: white;
    width: 800px;
    margin: auto;
    border-left: 2px solid rgb(0, 128, 117);
    border-radius: 5px;
}

.item {
    font-size: larger;
    display: block;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(0, 128, 117)
}

.verMas{
    color: rgb(0, 128, 117);
    padding: 10px;
    text-align: center;
    font-style: italic;
    cursor: pointer;
}